FIRM_HOME          = ./libfirm
FIRM_BUILD         = $(FIRM_HOME)/build
LIBFIRM_CFLAGS     = -I$(FIRM_HOME)/include
LIBFIRM_LFLAGS     = $(FIRM_BUILD)/debug/libfirm.a

LIBUNWIND_HOME     = ./libunwind
LIBUNWIND_CFLAGS   = -I$(LIBUNWIND_HOME)/include -D_GNU_SOURCE -Wall
LIBUNWIND_LFLAGS   = -L$(LIBUNWIND_HOME)/src/.libs -Wl,-R$(LIBUNWIND_HOME)/src/.libs -lunwind -lunwind-x86

LIBOO_HOME         = ./liboo
LIBOO_BUILD        = $(LIBOO_HOME)/build
LIBOO_CFLAGS       = -I$(LIBOO_HOME)/include
LIBOO_LFLAGS       = $(LIBOO_BUILD)/liboo.a -lm
